$bg: #f3f7fa;

$text: #4a4a4a;
$text-gray: #a0b0b9;
$text-alt: #ffffff;

$primary: #2196f3;
$primary-hover: #2189df;
$primary-active: #2189df;
$primary-inactive: #9abbce;

$card: #ffffff;
$card-hover: #f1fcff;
$card-active: #f1fcff;

$border: #dfe5ec;
