@use '../../styles/vars/sizes';
@use '../../styles/vars/colors';
@use '../../styles/vars/shadows';

.segment {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.title {
  color: colors.$text-gray;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.description {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}
