@use '../../styles/vars/sizes';
@use '../../styles/vars/colors';
@use '../../styles/vars/shadows';

.list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: sizes.$gap;
}

.item {
  box-sizing: border-box;
}

.button {
  width: 100%;
  margin-top: sizes.$gap;
  height: 50px;
}

.loader-box {
  margin-bottom: 20px;
}

.empty-list-message {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: colors.$card;
  border-radius: sizes.$border-radius;
  border: 1px solid colors.$border;
}
